*~
#*#
/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
node_modules/
/resources/public/js
/src/gen
*.iml
*.log
.shadow-cljs
.nrepl-*
.DS_Store
.clj-kondo/.cache/
.clj-kondo/rewrite-clj/
.clj-kondo/taoensso/
.lsp/
.cpcache/



