{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure      {:mvn/version "1.11.3"}
           ;; https://github.com/clojure/spec-alpha2
           ;; git ls-remote https://github.com/clojure/spec-alpha2.git refs/heads/master
           ;; 2022-03-06 More recent SHA, "99456b1856a6fd934e2c30b17920bd790dd81775" is incompatible?
           ;; ToDo: See the other programmatic approach I asked about in Slack.
           ;; 2024-05-11 We've included this SHA version in src/spec_sha. ToDo: Probably find a better way!
           #_#_org.clojure/spec-alpha2  {:git/url "https://github.com/clojure/spec-alpha2.git"
                                         :sha "c087ded910b3532a938b37e853df79fc3b9c48c1"}}

  :aliases {:dev  {:extra-paths ["src" "test"]
                   :extra-deps  {org.clojure/clojurescript   {:mvn/version "1.11.132"}
                                 thheller/shadow-cljs        {:mvn/version "2.28.6"}
                                 expound/expound             {:mvn/version "0.9.0"}
                                 org.clojure/tools.namespace {:mvn/version "1.5.0"}}}
            :test {:extra-paths    ["test" "env/dev"]
                   :main-opts      ["-m" "kaocha.runner"]
                   :extra-deps     {lambdaisland/kaocha          {:mvn/version "1.89.1380"}
                                    ;; Since I'm running from the command line, bin/koacha, need to repeat these.
                                    com.lambdaisland/classpath   {:mvn/version "0.5.48"}
                                    org.clojure/tools.namespace  {:mvn/version "1.5.0"}}}

            ;; Build says: Skipping coordinate: {:git/url https://github.com/clojure/spec-alpha2.git, :git/sha c087ded910b3532a938b37e853df79fc3b9c48c1,
            ;; :deps/manifest :deps, :deps/root /home/msid/pdenno/.gitlibs/libs/org.clojure/spec-alpha2/c087ded910b3532a938b37e853df79fc3b9c48c1,
            ;; :parents #{[]}, :paths [/home/msid/pdenno/.gitlibs/libs/org.clojure/spec-alpha2/c087ded910b3532a938b37e853df79fc3b9c48c1/src/main/clojure]}
            ;; This can't be good!

            :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.3"}}
                    :ns-default build}

            ;; https://github.com/slipset/deps-deploy
            ;; Remember to do clj -Spom to create pom.xml --- UPDATE IT!
            ;; env CLOJARS_USERNAME=peter.denno@nist.gov CLOJARS_PASSWORD=clojars-token clj -X:deploy
            :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :remote  ; :remote means clojars. :local means .m2
                                 :sign-releases? false
                                 :artifact "target/mznp-1.0.86.jar"}}}} ; <============= Update!

;;; clj -X:search/outdated
;;;  |    :file |                         :name |  :current |   :latest |
;;;  |----------+-------------------------------+-----------+-----------|
;;;  | deps.edn | io.github.clojure/tools.build |    0.10.0 |    0.10.3 |
;;;  |          |           lambdaisland/kaocha | 1.88.1376 | 1.89.1380 |
;;;  |          |           org.clojure/clojure |    1.11.2 |    1.11.3 |
;;;  |          |          thheller/shadow-cljs |    2.28.3 |    2.28.6 |
;;;  |  pom.xml |           org.clojure/clojure |    1.11.2 |    1.11.3 |
