{:paths   ["src" "resources"]
 :deps    {com.taoensso/timbre      {:mvn/version "5.1.2"}
           org.clojure/clojure      {:mvn/version "1.10.3"}
           ;; https://github.com/clojure/spec-alpha2
           ;; git ls-remote https://github.com/clojure/spec-alpha2.git refs/heads/master
           ;; 2022-03-06 More recent SHA, "99456b1856a6fd934e2c30b17920bd790dd81775" is incompatible?
           ;; ToDo: See the other programmatic approach I asked about in Slack.
           org.clojure/spec-alpha2  {:git/url "https://github.com/clojure/spec-alpha2.git"
                                     :sha "c087ded910b3532a938b37e853df79fc3b9c48c1"}}

  :aliases {:test {:extra-paths ["test"]
                   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.63.998"}}}

           :dev  {:extra-paths ["src/test"]
                  :extra-deps  {org.clojure/clojurescript   {:mvn/version "1.11.4"}
                                thheller/shadow-cljs        {:mvn/version "2.17.7"}
                                expound/expound             {:mvn/version "0.9.0"}
                                org.clojure/tools.namespace {:mvn/version "1.2.0"}}}
            
            :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                  :exec-fn hf.depstar/jar ; ToDo: Start using tools.build. "My build.clj wrapper makes it easier to switch."
                  :exec-args {:jar "mznp-0.1.74.jar"
                              :sync-pom true
                              :version "0.1.74"
                              :group-id "com.github.pdenno"
                              :artifact-id "mznp"}}
            
            :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                      :exec-fn deps-deploy.deps-deploy/deploy
                      :exec-args {:installer :local
                                  :artifact "mznp-0.1.74.jar"}}
            
            :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :remote
                                 :sign-releases? true
                                 :artifact "mznp-0.1.74.jar"}}}}

