{:paths   ["src/main" "resources"]
 :deps    {com.taoensso/timbre      {:mvn/version "5.1.2"}
           org.clojure/clojure      {:mvn/version "1.10.3"}
           org.clojure/spec-alpha2  {:git/url "https://github.com/clojure/spec-alpha2.git" 
                                     :sha "c087ded910b3532a938b37e853df79fc3b9c48c1"}}

 :aliases {:test {:extra-paths ["src/test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                               io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.0" :git/sha "48c3c67"}}
                  :exec-fn cognitect.test-runner.api/test}}}
