;; shadow-cljs configuration
{:deps {:aliases [:dev]}
 :source-paths  ["src/dev" "src/main" "src/test"]
 :dependencies
 []

 :builds
 {:main
  {:target :node-script
   :output-dir "resources/public/js/main"
   :asset-path "/js/main"}}}
